        /* Contenedor de los botones */
        .botones-contenedor {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        /* Estilo general para todos los botones */
        .botones-contenedor input[type="submit"] {
            font-size: 24px; 
            padding: 15px 40px; 
            border-radius: 12px; 
            border: none;
            cursor: pointer;
            transition: transform 0.3s, background-color 0.3s;
            width: 300px;
            text-align: center; 
        }

        /* Botón Movimientos */
        .BtnMovimientos {
            background-color: #007bff; 
            color: white;
        }

        .BtnMovimientos:hover {
            background-color: #0056b3;
            transform: scale(1.05); 
        }

        /* Botón Transferencia */
        .BtnTransferencia {
            background-color: #28a745; 
            color: white;
        }

        .BtnTransferencia:hover {
            background-color: #1e7e34;
            transform: scale(1.05);
        }

        /* Botón Cuentas */
        .BtnCuentas {
            background-color: #ffc107;
            color: black;
        }

        .BtnCuentas:hover {
            background-color: #e0a800;
            transform: scale(1.05);
        }
        
/* Botón Atrás */
.BtnAtras {
    background-color: #4fc3f7; 
    color: white; 
    font-size: 20px; 
    padding: 10px 30px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.BtnAtras:hover {
    background-color: #29b6f6; 
    transform: scale(1.05); 
}

.BtnAtras:active {
    background-color: #0288d1; 
    transform: scale(0.95); 
}