/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Encabezado "Movimientos" */
.encabezado {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #3f51b5;
    color: white;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.encabezado h1 {
    margin: 0;
    font-size: 2rem; /* Ajusta el tamaño de la fuente */
    word-wrap: break-word; /* Evita problemas con palabras largas */
}
/* Estilo del contenedor principal */
fieldset {
	margin-top:50px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tabla de movimientos */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}

.tabla th, .tabla td {
    padding: 10px;
    border: 1px solid #ccc;
}

.tabla th {
    background-color: #f2f2f2;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla tbody tr:hover {
    background-color: #f1f1f1;
}

/* Mensaje "No se encontraron movimientos" */
.tabla tbody tr td[colspan] {
    text-align: center;
    color: #999;
    font-style: italic;
    padding: 20px;
}

/* Botón "Atrás" */
.btnAtras {
    display: inline-block;
    padding: 10px 20px;
    background-color: #de817e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btnAtras:hover {
    background-color: #408080;
    color: #fff;
    transition: background-color 0.3s ease;
}
